<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission-group
        android:name="com.sameerasw.overcast.permission-group.WEATHER"
        android:description="@string/permgroupdesc_weather"
        android:icon="@drawable/rounded_partly_cloudy_day_24"
        android:label="@string/permgrouplab_weather" />

    <permission
        android:name="com.sameerasw.overcast.permission.READ_WEATHER"
        android:description="@string/permdesc_read_weather"
        android:icon="@drawable/rounded_partly_cloudy_day_24"
        android:label="@string/permlab_read_weather"
        android:permissionGroup="com.sameerasw.overcast.permission-group.WEATHER"
        android:protectionLevel="dangerous" />

    <application
        android:name=".OvercastApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Overcast">
        <activity
            android:name=".ui.activities.WeatherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Overcast.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_activity_label"
            android:theme="@style/Theme.Overcast" />

        <provider
            android:name=".weather.share.WeatherContentProvider"
            android:authorities="com.sameerasw.overcast.weather"
            android:exported="true"
            android:permission="com.sameerasw.overcast.permission.READ_WEATHER" />
    </application>

</manifest>
